html {
    behavior: smooth;
}

body {
    margin: 0 auto;
    padding: auto;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}
#top_hearder {
    width: 100%;
    height: auto;
    background-color: blue;
    overflow: hidden;   text-align: center;
}

.logo {
  
  margin-top: 20px;
  margin-left: 10%;
 float: left;
 padding: 10px;


}
.logo img {
height: 140px;
width: 140px;
border-radius: 50%;
}
h1 {
    color: white;
    width: 100%;
    font-size: 250%;
    padding: auto;
}
address {
  color: white;
    font-style: normal;
    font-weight: 500;
}
h1 > p {
    color: white;
}


hr {
    margin: auto;
    height: 10px;
    background-color: #ff0000 ;


    width: 100%;

}



marquee {
    height: 50px;
    background-color: black;
    color: white;
    font-size: 30px;
}


#body_container {
    margin-right: 10px;
    margin-left: 10px;
}
h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.section_title {
  text-align: center;
  background-color: brown;  
  width: 40%;
  margin-left: 30%;
  padding: 10px;
  font-size: 25px;
  border-radius: 20px;
  overflow: hidden;
  margin: 50px 30% 10px;
}
.left_dealership {
margin: auto;
float: left;
background-color: cadetblue;
width: 48%;
overflow: hidden;
height: 250px;
border-radius: 20px;
padding: 1%;
margin-bottom: 20px;
}
.left_dealership p {
    text-align: center;
    font-family: impact;
    font-size: 25px;
}
.left_dealership ul {
  list-style-type: square;
}
.left_dealership ul li {
    padding: 5px;
}

.right_dealership {
    margin: auto;
    float: right;
    background-color: cadetblue;
    height: 250px;
    width: 47%;
    overflow: hidden;
    border-radius: 20px;
    padding: 1%;
    margin-bottom: 20px;
}
.right_dealership p {
    text-align: center;
    font-family: impact;
    font-size: 25px;
}
.right_dealership ul {
    list-style-type: square;
}
.right_dealership ul li {
    padding: 5px;
}

 /****************** service Area *****************/
 /* service left div  */
 

.service {
    height: 600px;
    width: 100%;
    background-color: blanchedalmond;
    padding: 5px;
    margin: auto;
    overflow: hidden;
}
.service ul {
    list-style-type: disc;
    margin: 0px 15% 0;
}
.service ul li {
    padding: 5px;
    font-weight: 800;
}
.service p {
    color: red;
}
.right {
    float: right;
    margin: auto;
    width: 50%;
}

/* contact section  */

.contact {
    height: auto;
    width: 100%;
}
.contact p {
    text-align: center;
    padding: 5px;
    font-size: 20px;
    font-weight: 800;
}

/* contact form  */
.contact_form {
    text-align: center;
    padding: 10px;
}
.contact_form input {
    height: 40px;
    width: 50%;
    border-radius: 8px;
    padding: auto;
    margin: 0px auto 10px;
}
.contact_form textarea {
    height: 150px;
    width: 40%;
    border-radius: 10px;
}

.btn_submit {
   color: white;
    background-color: green;
    font-size: 15px;
    font-weight: 800;
}

/* footer area  */
footer {
    height: 200px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
footer h3 {
    font-size: 30px;
    padding: 10px;
    letter-spacing: 3px;
}
.copyright {
    font-size: 18px;
}